@mixin transition($props...) {
    $timing: ease-in-out;
    $duration: .3s;
    $out: ();
    @each $prop in $props {
	$out: append($out, ($prop $duration $timing), comma);
    }
    transition: $out;
}

/// TEST

.test.transition {
    @include transition(color, font-size);
}