///
/// shadows.
///
$_shadows: (
    1: (
	top: 0 1.5px 3px rgba(black, 0.24),
	bottom: 0 3px 8px rgba(black, 0.05)
    ),
    2: (
	top: 0 4px 7px rgba(black, 0.23),
	bottom: 0 8px 25px rgba(black, 0.05)
    ),
    3: (
	top: 0 7px 10px rgba(black, 0.30),
	bottom: 0 10px 50px rgba(black, 0.12)
    ),
    4: (
	top: 0 10px 15px rgba(black, 0.28),
	bottom: 0 15px 60px rgba(black, 0.18)
    ),
    5: (
	top: 0 16px 20px rgba(black, 0.29),
	bottom: 0 20px 65px rgba(black, 0.18)
    ),
);

@mixin shadows($depth) {
  $shadow: map-get($_shadows, $depth);
  box-shadow: map-get($shadow, top), map-get($shadow, bottom);
}

/// TEST
.test.shadows {
    @include shadows(1);
}
